<div style="font-size: 14px; line-height: 24px; color: #333333; font-family: sans-serif;">
  <p>Fala {{name}}, beleza?</p>
  <p>Você acabou de criar sua conta no RocketTwitter com o usuário {{username}}</p>
  <p>
    Nos vesmo lá!
    <strong>Equipe RoquetTwitter!</strong>
  </p>
</div>
